
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;900&family=Roboto&display=swap');

// .GenJyuuGothic {
//   font-family: 'GenJyuuGothic-P-Bold';
// }

.Roboto{
  font-family: 'Roboto', sans-serif;
}
.Noto-Sans-TC-400 {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight:400;
}
.Noto-Sans-TC-900 {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight:900;
}
.test {
  outline: solid 3px red;
}